<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotfiy Twin</title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <header>
      <nav class="nav">
        <a href="" class="nav_logo">Spotify Twin</a>

        <a href="" class="nav_link">Login</a>
      </nav>
    </header>
    <!--Home-->
    <section class="home">
      <div class="form_container">
        <!--Login form-->
        <div class="login_form">
          <form action="#">
            <h2>Login</h2>

            <div class="input_box">
              {{ form.hidden_tag() }} {% for field in form if
              field.widget.input_type != 'hidden' %} {% for error in
              field.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %} {{ field(placeholder=field.label.text,
              class="form-control") }} {% endfor %}
            </div>

            <button class="button">Login Now</button>

            <div class="login_signup">
              Dont have an account? <a href="#" id="signup">Signup</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
